.hcenter {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hcenter > .vcenter {
  font-family: helvetica;
  font-size: 4em;
  margin: 5vh 10vw;
  padding-bottom: 20px;
  font-weight: 700;
  padding-right: 60px;
  outline: none;
}

.grey {
  color: #666;
  border-bottom: 2px #666 solid;
}

.purp {
  color: #ce0bed;
  border-bottom: 2px #ce0bed solid;
}

input {
  background-color: inherit;
}

body {
  background: linear-gradient(135deg, #00f482 0%,#009ec3 100%);
}
